<div class="row">
  <div class="col s12 m3">
    <div class="card green darken-3">
      <div class="card-content white-text">
        <span class="card-title ">Info</span>
        <p>Horario: Lun-Vie de 10 a 15 y de 19 a 22h</p>
        <p>Sábados y Domingos de 9 a 16 y de 19 a 23</p>
        <p>Telf: 98 789 63 69</p>
        <p>E-mail: hola@takeawaygeltrudis.com</p>
      </div>
    </div>
  </div>
  <div class="col offset-m5">
    <form class="m12 l12 s12">
      <h3>Formulario de Contacto</h3>
      <div class="input-field col s6">
        <i class="material-icons prefix">person_pin</i>
        <input id="nombre" type="text" class="validate">
        <label class="active" for="Nombre">Nombre</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate">
        <label class="active" for="email">Email</label>
      </div> 
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
    </form>

  </div>
</div>

  


<div class="row">
  <div class="col s12 m6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.8639652112383!2d1.7273260154207608!3d41.22473487927946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a386e3d7d1cd7f%3A0xbcb7d33096643a59!2sRambla+del+Castell%2C+28%2C+08800+Vilanova+i+la+Geltr%C3%BA%2C+Barcelona!5e0!3m2!1ses!2ses!4v1490293024946"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>