<div class="container">
  <div class="row">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="../assets/imagen/ensalada_higo.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="../assets/imagen/ensalada_queso.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="../assets/imagen/ensaladaCat.jpg">></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primero_melon.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primero_patata.jpg">></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primeroCat.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postre_corte.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postre_fruta.jpg">></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postreCat.jpg"></a>
    </div>
  </div>
</div>




















