<div class="green container">
  <div class="row">
    <h2 class=" white-text center-align">Galeria de imagenes</h2>
    <div class="carousel">
      <a class="carousel-item" href="#one!"><img src="../assets/imagen/ensalada_higo.jpg" alt="ensalada de higo"></a>
      <a class="carousel-item" href="#two!"><img src="../assets/imagen/ensalada_queso.jpg" alt="ensalada de queso"></a>
      <a class="carousel-item" href="#three!"><img src="../assets/imagen/ensaladaCat.jpg" alt="ensalada de pasta"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primero_melon.jpg" alt="plato melon con jamon"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primero_patata.jpg" alt="plato patatas"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/primeroCat.jpg" alt="plato woock"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postre_corte.jpg" alt="postre de corte"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postre_fruta.jpg" alt="postre de fruta"></a>
      <a class="carousel-item" href="#four!"><img src="../assets/imagen/postreCat.jpg" alt="postre de chocolate"></a>
    </div>
  </div>
</div>




















